
.text {
    font-weight: 700;
}

.textRotate {
    transform: rotate(354deg);
}

.box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.centerPosition {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_scaling {
    /* height:30%;
    width: 30%; */
}

.image:hover {
    /* border-color: blue; */
    border: 1px solid rgb(81, 40, 243);
    border-radius: 25px;
}

.subscriptions:hover {
    background-color: rgb(177, 114, 237);
    color: white;
}

p {
    color: black;
    text-decoration: none;
}

sp {
    color :#6F77F1;
}

.subscriptions:hover p{
    color: white;
}

.subscriptions:hover sp{
    color: white;
}

.subscriptionButton:hover {
    background-color: yellow;
}