
    html {
        overflow-x :hidden;
    }
    body{ 
        overflow-x :hidden; 
        font-family: 'Poppins', sans-serif;
        font-family: 'Work Sans', sans-serif;
        }

    .container {
        /* margin-left: 0rem; */
        /* margin-right: 0rem; */
    }

    img {
        max-width: 100%;
    }

    .text {
        font-weight: 700;
    }

    .textRotate {
        transform: rotate(-6deg);
    }

    .box:hover {
        box-shadow: 0px 17px 60px -14px rgba(2, 22, 5, 0.07); 
    }

    .centerPosition {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imageScaling {
        max-width: 100%;
    }

    .image:hover {
        border: 1px solid rgb(81, 40, 243);
        border-radius: 25px;
    }

    .subscriptions:hover {
        background-color: rgb(177, 114, 237);
        color: white;
    }

    p {
        color: black;
        text-decoration: none;
    }

    sp {
        color :#6F77F1;
    }

    .subscriptions:hover p{
        color: white;
    }

    .subscriptions:hover sp{
        color: white;
    }

    .subscriptionButton:hover {
        background-color: yellow;
    }

    .bottomHover:hover {
        border-bottom: 3px solid #717AE0 ;
    }

    .fa-brands:hover {
        color:#6F77F1;
    }

    @media only screen and (min-width: 786px) {
        body {
            /* margin-left: 15px;
            margin-right: 15px; */
        };
    }

   
