
    html {
        overflow-x :hidden;
    }
    body{ 
        overflow-x :hidden; 
        font-family: 'Poppins', sans-serif;
        font-family: 'Work Sans', sans-serif;
        position: relative;
        }

    .container {
        /* margin-left: 0rem; */
        /* margin-right: 0rem; */
    }

    .underline-hover {
        position: relative;
        /* color: #191ced; */
        text-decoration: none;
    }

    .underline-hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.125rem;
        bottom: 0;
        left: 0;
        background-color: #193cec;
        transform-origin: bottom left;
        transition: transform 0.50s ease-out;
    }

    .underline-hover::after{
        
        transform: scaleX(0);
    }

    .underline-hover:hover::after {
        transform: scaleX(1);
    }
    .hover-underline-animation:hover::after {
        transform-origin: bottom right;
    }
    
    img {
        max-width: 100%;
    }

    .text {
        font-weight: 700;
    }


    .box:hover {
        box-shadow: 0px 17px 60px -14px rgba(2, 22, 5, 0.07); 
    }

    .center-position {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .image-scaling {
        max-width: 100%;
    }

    .image:hover {
        border: 1px solid rgb(81, 40, 243);
        border-radius: 25px;
    }

    .subscriptions {
        background-color: white;
    }

    p {
        color: black;
        text-decoration: none;
    }

    sp {
        color :#6F77F1;
    }

    .subscriptions:hover {
        background-color: rgb(177, 114, 237);
        color: white;
        transform: scaleY(1.08);
        /* transform-origin: bottom; */
        transition: transform 1s ease-in-out;
    }

    .subscriptions:hover p {
        color: white;
        transform: scaleY(1.03);
    }

    .subscriptions:hover sp{
        color: white;
    }

    .subscription-button:hover {
        background-color: yellow;
    }

    .bottom-hover:hover {
        border-bottom: 3px solid #717AE0 ;
    }

    .fa-brands:hover {
        color:#6F77F1;
    }

    .swiper {
        /* width: 100%;
        height: 100%; */
      }
  
      .swiper-slide {
        display: flex;
        justify-content:center;
        align-items: end;
      }
  
      .swiper-slide {
        display: block;
        object-fit: cover;
      }
    @media only screen and (min-width: 320px) {
        body {
            margin-left: 15px;
            margin-right: 15px;
        };
    }

   
